<!DOCTYPE html>
<html lang="en">

<head>
    <title>Casa Criativa</title>
    {% include "partials/headcontent.html" %}
</head>

<body>
    <div id="page-index">
        <div id="container">
            <section id="intro">
                <header>
                    <a href="/">
                        <img src="/assets/logo.png" alt="Imagem da Logomarca">
                    </a>
                </header>

                <main>
                    <p>
                        Ficar em casa em períodos longos, não deve ser nada fácil.
                    </p>

                    <p>
                        Por isso, iremos catalogar ideias, <strong> brincadeiras, jogos, filmes, livros, cursos, dicas
                        </strong> e tudo que for necessário para tornar esse momento mais interessante.
                    </p>

                    <p>
                        Comece clicando em ver ideias para ver as ideias cadastradas e contribua adicionando a sua
                        ideia.
                    </p>
                </main>

                <section id="buttons">
                    <button onclick="onOff()">
                        + Adicionar Ideia
                    </button>

                    <a href="ideas" class="button">
                        Ver todas as idéias
                    </a>
                </section>

            </section>

            {% include "partials/footer.html" %}

            <section id="last-ideas">
                <section id="title">
                    <p>em exibição</p>
                    <h1>Últimas idéias</h1>
                </section>
                {% include "allideas.html" %}
            </section>
        </div>
    </div>

    {% include "modal.html" %}

    <script src="/scripts/scripts.js"></script>
</body>

</html>