header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
    margin-right: 16px;
}

#ideas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#ideas #title {
    grid-column: span 2;
}

#page-ideas nav li a {
    color: #25282b;
}
  
#page-ideas nav li a.button {
    color: white;
}
  
#page-ideas nav li:last-child {
    margin: 0;
}
  
.idea {
    margin: 0;
}

footer {
    margin-top: 64px;
}